.main {
  margin-top: 100px;
  max-width: 500px;
  margin-left: 20px;
  justify-self: center;
}
input {
  width: 80%;
  border-radius: 4px;
  outline: none;
}
ul {
  list-style: none;
  background-color: rgb(193, 181, 203);
  border-radius: 20px;
  margin-top: 10px;
  min-width: 300px;
  min-height: 200px;
}
li {
  padding: 8px;
}
